/* Light mode styles */
body.light-mode {
    background-color: white;
    color: #121212;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

/* Navbar styles */
.navbar-light-mode {
    background-color: white;
}

.navbar-dark-mode {
    background-color: #121212;
    color: white !important;
}

.navbar-dark-mode .navbar-brand,
.navbar-dark-mode .nav-link {
    color: white !important;
}

.navbar-light-mode .navbar-brand,
.navbar-light-mode .nav-link {
    color: black !important;
}

/* Button styles */
.btn-light-mode {
    background-color: white;
    color: #121212;
}

.btn-dark-mode {
    background-color: #121212;
    border-color: #121212;
    color: white;
}

/* Input field styles */
.input-light-mode {
    background-color: white;
    color: rgb(255, 255, 255);
    border-color: #ccc;
}

.input-dark-mode {
    background-color: #333;
    color: white;
    border-color: #333;
}

/* Audio element styles */
.audio-dark-mode {
    filter: invert(1);
}

/* Table styles */
.table-light-mode th, .table-light-mode td {
    color: #121212;
}

.table-dark-mode th, .table-dark-mode td {
    color: white;
}

/* Playlist item styles */
.playlist-item-light-mode {
    background-color: white;
    color: #121212;
}

.playlist-item-dark-mode {
    background-color: #333;
    color: white; /* Ensure text color is white */
}

.playlist-item-dark-mode a {
    color: white !important; /* Ensure links are also white */
}

.playlist-item-light-mode a {
    color: rgb(255, 255, 255) !important;
}
