{% extends "layout.html" %}
{% block content %}
    <!-- Display tracks in the playlist -->
    <h2>{{ playlist_name }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Album Cover</th>
                <th scope="col">Track</th>
                <th scope="col">Artist</th>
                <th scope="col">Preview</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                <tr>
                    <td><img src="{{ track['album_cover'] }}" alt="Album Cover" class="album-cover-dark-mode" style="width:50px; height:50px;"></td>
                    <td>{{ track['name'] }}</td>
                    <td>{{ track['artist'] }}</td>
                    <td>
                        {% if track['preview_url'] %}
                            <audio controls class="audio-dark-mode">
                                <source src="{{ track['preview_url'] }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        {% else %}
                            <p>No preview available</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Display recommended tracks based on the playlist -->
    <h2>Recommended Songs</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Album Cover</th>
                <th scope="col">Track</th>
                <th scope="col">Artist</th>
                <th scope="col">Preview</th>
                <th scope="col">Add to Playlist</th>
            </tr>
        </thead>
        <tbody>
            {% for track in recommended_tracks %}
                <tr class="recommended-song-item-dark-mode">
                    <td><img src="{{ track['album_cover'] }}" alt="Album Cover" class="album-cover-dark-mode" style="width:50px; height:50px;"></td>
                    <td>{{ track['name'] }}</td>
                    <td>{{ track['artist'] }}</td>
                    <td>
                        {% if track['preview_url'] %}
                            <audio controls class="audio-dark-mode">
                                <source src="{{ track['preview_url'] }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        {% else %}
                            <p>No preview available</p>
                        {% endif %}
                    </td>
                    <td><a href="/add_track_to_playlist/{{ track['id'] }}" class="btn btn-success btn-sm">Add to Playlist</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
